:root {
--col-prim-red: hsl(0, 100%, 74%);
--col-prim-green: hsl(154, 59%, 51%);
--col-neut-dark-blue: hsl(249, 10%, 26%);
--col-neut-gray-blue: hsl(246, 25%, 77%);
--col-accent-blue: hsl(248, 32%, 49%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--col-prim-red);
}

main {
    display: grid;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    color: hsl(0, 10%, 100%);
    padding-top: 3vh;
}

h1 {
    font-size: 1.5rem;
    padding: 0 15vw;
}

hgroup {
    padding: 3rem 0;
}

.try-it {
    background-color: var(--col-accent-blue);
    padding: 1rem 13vw;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }